Source: connui-internet
Priority: optional
Section: x11
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 5), cdbs, libhildon1-dev, libhildondesktop1-dev, osso-af-settings, icd2-dev, libosso-dev, libconnui-dev, mce-dev
Standards-Version: 3.7.3

Package: connui-statusbar-internet
Architecture: any
Section: x11
Replaces: osso-connectivity-ui-statusbar
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-icons-default | osso-icons, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0, libconnui
Conflicts: osso-connectivity-ui-statusbar
Description: Internet Connectivity statusbar plugin
 This package provides the Internet Connectivity statusbar plugin.

Package: connui-statusbar-internet-dbg
Architecture: any
Section: extra
Depends: ${misc:Depends}, connui-statusbar-internet (= ${binary:Version})
Description: Internet Connectivity statusbar plugin - debug symbols
 Internet Connectivity statusbar plugin.
 .
 This package contains the debug symbols.

Package: connui-conndlgs-internet
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, icd2, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Internet connectivity plugins for Connectivity Dialogs daemon
 This package provides the Internet connectivity plugins for Connectivity
 Dialogs daemon.

Package: connui-conndlgs-internet-dbg
Section: extra
Architecture: any
Depends: ${misc:Depends}, connui-conndlgs-internet (= ${binary:Version})
Description: Internet connectivity plugins for Connectivity Dialogs daemon
 This package provides the Internet connectivity plugins for Connectivity
 Dialogs daemon.
 .
 This package contains the debug symbols.
