Source: connui-internet
Priority: optional
Section: x11
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 10), libhildon1-dev, libhildondesktop1-dev, osso-af-settings, icd2-dev, libosso-dev, libconnui-dev (>= 2.88.9), libconbtui0-dev (>= 2.88.10), mce-dev, icd2-osso-ic-dev, libmaemosec-certman-dev, icd2-dev, hildon-control-panel-dev
Standards-Version: 3.7.3

Package: connui-statusbar-internet
Architecture: any
Section: x11
Replaces: osso-connectivity-ui-statusbar
Conflicts: osso-connectivity-ui-statusbar
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-icons-default | osso-icons, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Internet Connectivity statusbar plugin
 This package provides the Internet Connectivity statusbar plugin.

Package: connui-conndlgs-internet
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, icd2, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Internet connectivity plugins for Connectivity Dialogs daemon
 This package provides the Internet connectivity plugins for Connectivity
 Dialogs daemon.

Package: connui-iapsettings
Architecture: any
Section: x11
Conflicts: osso-connectivity-ui-iapsettings
Replaces: osso-connectivity-ui-iapsettings
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Internet Settings UI for Hildon Control Panel
 This package provides the Internet Settings UI that allows you to create,
 edit and delete Internet Access Point configurations. It also allows you
 to tune some generic ICd parameters like connection timeouts and preferred
 IAP

Package: connui-iapsettings-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, connui-iapsettings (= ${binary:Version})
Description: Internet Settings UI for Hildon Control Panel
 This package provides the Internet Settings UI that allows you to create,
 edit and delete Internet Access Point configurations. It also allows you
 to tune some generic ICd parameters like connection timeouts and preferred
 IAP
 .
 This package contains the development files for connui-iapsettings.
